.div {
    display: inline-block;
    width: 420px;
    height: 475px;
    margin-left: 15%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 135px;
}
.menu {
    display: inline-block;
    width: 630px;
    height: 11px;
    margin-bottom: 130px;
    margin-left: 580px;
    margin-right: 275px ;
    margin-top: 85px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px
}
a { 
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0 3px;
    color: grey;
    display: inline-block;
}
.li {
    display: inline-block;
}
.footer {
  height: 60px;
  width: 165px;
  margin-left: 40%;
  margin-bottom: 70px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.but {
font-size: large;
}
.p {
    font-size: 24px;
}
body { 
    margin: auto;
}

